# $$\text{Financial Data Analytics}$$

The industry we'll be focusing on is **Healthcare**, we'll choose the top four firms in this sector.

At the time of data acquistion, the top four firms according to *Yahoo! Finance*  are :

| Firm Name                    | Symbol | SIC Code | SIC Code Description |
|-------------------------------|--------|----------|------------------------|
| Eli Lilly and Company        | LLY    | 2834     | Pharmaceutical Preparations |
| UnitedHealth Group Incorporated | UNH    | 6324     | Hospital and Medical Service Plans |
| Johnson & Johnson            | JNJ    | 2834     | Pharmaceutical Preparations |
| Merck & Co., Inc.             | MRK    | 2834     | Pharmaceutical Preparations |

As we can see, three of the top healthcare are pharmaceutical preparators, all the countries are from the US.

## I. Data extraction

To get the necessary data from **Yahoo! Finance**, we'll use the publicly available `yfinance` API.

### Testing our API

In [1]:
import pandas as pd
import yfinance as yf

In [2]:
import yfinance as yf
lly = yf.Ticker("LLY")
print(lly)

yfinance.Ticker object <LLY>

In [3]:
# Showing LLY info
lly.info
# pd.DataFrame.from_dict(lly.info, orient='index').reset_index()

{'address1': 'Lilly Corporate Center',
 'city': 'Indianapolis',
 'state': 'IN',
 'zip': '46285',
 'country': 'United States',
 'phone': '317 276 2000',
 'website': 'https://www.lilly.com',
 'industry': 'Drug Manufacturers - General',
 'industryKey': 'drug-manufacturers-general',
 'industryDisp': 'Drug Manufacturers - General',
 'sector': 'Healthcare',
 'sectorKey': 'healthcare',
 'sectorDisp': 'Healthcare',
 'longBusinessSummary': 'Eli Lilly and Company discovers, develops, and markets human pharmaceuticals worldwide. The company offers Basaglar, Humalog, Humalog Mix 75/25, Humalog U-100, Humalog U-200, Humalog Mix 50/50, insulin lispro, insulin lispro protamine, insulin lispro mix 75/25, Humulin, Humulin 70/30, Humulin N, Humulin R, and Humulin U-500 for diabetes; Jardiance, Mounjaro, and Trulicity for type 2 diabetes; and Zepbound for obesity. It also provides oncology products, including Alimta, Cyramza, Erbitux, Jaypirca, Retevmo, Tyvyt, and Verzenio. In addition, the company offers Olumiant for rheumatoid arthritis, atopic dermatitis, severe alopecia areata, and COVID-19; Taltz for plaque psoriasis, psoriatic arthritis, ankylosing spondylitis, and non-radiographic axial spondylarthritis; Omvoh for ulcerative colitis; Cymbalta for depressive disorder, diabetic peripheral neuropathic pain, generalized anxiety disorder, fibromyalgia, and chronic musculoskeletal pain; Ebglyss for severe atopic dermatitis; and Emgality for migraine prevention and episodic cluster headache. Further, it provides Cialis for erectile dysfunction and benign prostatic hyperplasia; and Forteo for osteoporosis. It has collaborations with Incyte Corporation; Boehringer Ingelheim Pharmaceuticals, Inc.; F. Hoffmann-La Roche Ltd and Genentech, Inc.; Biologics, Inc., AbCellera Biologics Inc.; and Chugai Pharmaceutical Co., Ltd. The company was founded in 1876 and is headquartered in Indianapolis, Indiana.',
 'fullTimeEmployees': 43000,
 'companyOfficers': [{'maxAge': 1,
   'name': 'Mr. David A. Ricks',
   'age': 55,
   'title': 'Chairman, CEO & President',
   'yearBorn': 1968,
   'fiscalYear': 2023,
   'totalPay': 6285660,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Ms. Anat  Ashkenazi',
   'age': 50,
   'title': 'Executive VP & CFO',
   'yearBorn': 1973,
   'fiscalYear': 2023,
   'totalPay': 2958307,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Dr. Daniel M. Skovronsky M.D., Ph.D.',
   'age': 49,
   'title': 'EVP, Chief Scientific Officer and President of Lilly Research Laboratories & Lilly immunology',
   'yearBorn': 1974,
   'fiscalYear': 2023,
   'totalPay': 3819307,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Ms. Anat  Hakim J.D.',
   'age': 54,
   'title': 'Executive VP, General Counsel & Secretary',
   'yearBorn': 1969,
   'fiscalYear': 2023,
   'totalPay': 2814807,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Jacob S. Van Naarden',
   'age': 38,
   'title': 'Executive VP & President of Loxo',
   'yearBorn': 1985,
   'fiscalYear': 2023,
   'totalPay': 2384307,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Donald A. Zakrowski',
   'title': 'Senior VP of Finance & Chief Accounting Officer',
   'fiscalYear': 2023,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Diogo  Rau',
   'age': 48,
   'title': 'EVP & Chief Information and Digital Officer',
   'yearBorn': 1975,
   'fiscalYear': 2023,
   'totalPay': 1056809,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Alonzo  Weems',
   'age': 51,
   'title': 'EVP of Enterprise Risk Management and Chief Ethics & Compliance Officer',
   'yearBorn': 1972,
   'fiscalYear': 2023,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Eric  Dozier',
   'age': 55,
   'title': 'Executive Vice President of Human Resources & Diversity',
   'yearBorn': 1968,
   'fiscalYear': 2023,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Jeffrey N. Simmons',
   'age': 56,
   'title': 'Senior VP & President of Elanco Animal Health',
   'yearBorn': 1967,
   'fiscalYear': 2023,
   'totalPay': 1729146,
   'exercisedValue': 0,
   'unexercisedValue': 0}],
 'auditRisk': 3,
 'boardRisk': 5,
 'compensationRisk': 1,
 'shareHolderRightsRisk': 9,
 'overallRisk': 6,
 'governanceEpochDate': 1711929600,
 'compensationAsOfEpochDate': 1703980800,
 'irWebsite': 'http://investor.lilly.com/',
 'maxAge': 86400,
 'priceHint': 2,
 'previousClose': 724.87,
 'open': 723.48,
 'dayLow': 721.0,
 'dayHigh': 737.45,
 'regularMarketPreviousClose': 724.87,
 'regularMarketOpen': 723.48,
 'regularMarketDayLow': 721.0,
 'regularMarketDayHigh': 737.45,
 'dividendRate': 5.2,
 'dividendYield': 0.0070999996,
 'exDividendDate': 1707868800,
 'payoutRatio': 0.7793,
 'fiveYearAvgDividendYield': 1.45,
 'beta': 0.367,
 'trailingPE': 126.68567,
 'forwardPE': 40.3249,
 'volume': 1998800,
 'regularMarketVolume': 1998800,
 'averageVolume': 3049757,
 'averageVolume10days': 2435780,
 'averageDailyVolume10Day': 2435780,
 'bid': 733.4,
 'ask': 733.2,
 'bidSize': 1000,
 'askSize': 1100,
 'marketCap': 697396363264,
 'fiftyTwoWeekLow': 392.26,
 'fiftyTwoWeekHigh': 800.78,
 'priceToSalesTrailing12Months': 20.437063,
 'fiftyDayAverage': 761.3394,
 'twoHundredDayAverage': 622.60803,
 'trailingAnnualDividendRate': 4.52,
 'trailingAnnualDividendYield': 0.006235601,
 'currency': 'USD',
 'enterpriseValue': 683797250048,
 'profitMargins': 0.15357,
 'floatShares': 897842028,
 'sharesOutstanding': 950766016,
 'sharesShort': 5535865,
 'sharesShortPriorMonth': 5536638,
 'sharesShortPreviousMonthDate': 1710460800,
 'dateShortInterest': 1713139200,
 'sharesPercentSharesOut': 0.0058,
 'heldPercentInsiders': 0.0016300001,
 'heldPercentInstitutions': 0.84323,
 'shortRatio': 2.3,
 'shortPercentOfFloat': 0.0064999997,
 'impliedSharesOutstanding': 960380032,
 'bookValue': 11.977,
 'priceToBook': 61.243217,
 'lastFiscalYearEnd': 1703980800,
 'nextFiscalYearEnd': 1735603200,
 'mostRecentQuarter': 1703980800,
 'earningsQuarterlyGrowth': 0.13,
 'netIncomeToCommon': 5240399872,
 'trailingEps': 5.79,
 'forwardEps': 18.19,
 'pegRatio': 1.14,
 'lastSplitFactor': '2:1',
 'lastSplitDate': 876960000,
 'enterpriseToRevenue': 20.039,
 'enterpriseToEbitda': 55.527,
 '52WeekChange': 0.80752075,
 'SandP52WeekChange': 0.22363698,
 'lastDividendValue': 1.3,
 'lastDividendDate': 1707868800,
 'exchange': 'NYQ',
 'quoteType': 'EQUITY',
 'symbol': 'LLY',
 'underlyingSymbol': 'LLY',
 'shortName': 'Eli Lilly and Company',
 'longName': 'Eli Lilly and Company',
 'firstTradeDateEpochUtc': 76253400,
 'timeZoneFullName': 'America/New_York',
 'timeZoneShortName': 'EDT',
 'uuid': '7b37be39-dfde-3602-b0e4-4d76cf52143b',
 'messageBoardId': 'finmb_285467',
 'gmtOffSetMilliseconds': -14400000,
 'currentPrice': 733.51,
 'targetHighPrice': 1000.0,
 'targetLowPrice': 540.0,
 'targetMeanPrice': 826.94,
 'targetMedianPrice': 837.5,
 'recommendationMean': 2.0,
 'recommendationKey': 'buy',
 'numberOfAnalystOpinions': 24,
 'totalCash': 3041499904,
 'totalCashPerShare': 3.379,
 'ebitda': 12314600448,
 'totalDebt': 26467299328,
 'quickRatio': 0.518,
 'currentRatio': 0.943,
 'totalRevenue': 34124099584,
 'debtToEquity': 243.631,
 'revenuePerShare': 37.908,
 'returnOnAssets': 0.11881,
 'returnOnEquity': 0.48435003,
 'freeCashflow': 236875008,
 'operatingCashflow': 4240100096,
 'earningsGrowth': 0.13,
 'revenueGrowth': 0.281,
 'grossMargins': 0.79246,
 'ebitdaMargins': 0.36088002,
 'operatingMargins': 0.34138,
 'financialCurrency': 'USD',
 'trailingPegRatio': 1.3966}

In [4]:
lly_data = yf.download("LLY", start="2020-01-31", end="2024-01-31")
lly_data.head()

[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2020-01-31,142.850006,142.850006,139.470001,139.639999,131.503021,3913500
2020-02-03,140.529999,141.570007,139.679993,141.000000,132.783783,5137800
2020-02-04,142.300003,144.070007,141.779999,143.440002,135.081589,3177500
2020-02-05,144.779999,147.360001,144.529999,147.350006,138.763794,4060900
2020-02-06,147.740005,147.869995,146.809998,147.300003,138.716705,3285000

In [5]:
lly_data.tail()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2024-01-24,633.520020,643.169983,632.000000,633.700012,632.591187,2276900
2024-01-25,627.369995,632.609985,624.679993,627.619995,626.521790,2407900
2024-01-26,637.349976,639.599976,630.500000,639.250000,638.131470,2410300
2024-01-29,641.500000,645.650024,639.770020,645.000000,643.871399,2718500
2024-01-30,645.700012,646.799988,641.000000,644.979980,643.851440,2006100

The data is successfully scraped for LLY index

Saving data to csv

In [6]:
lly_data.to_csv("../artifacts/lly/lly_data.csv")

Now it's time to get balance sheet, income statement and cash flow statement.

- Balance Sheet

In [7]:
lly_balance_sheet = lly.get_balance_sheet(pretty=True)
lly_balance_sheet

,2023-12-31,2022-12-31,2021-12-31,2020-12-31
Treasury Shares Number,402000.0,450000.0,463000.0,487000.0
Ordinary Shares Number,949379000.0,950182000.0,953653000.0,956590000.0
Share Issued,949781000.0,950632000.0,954116000.0,957077000.0
Net Debt,22406700000.0,14171600000.0,13066200000.0,12938200000.0
Total Debt,25225300000.0,16238600000.0,16884700000.0,16595300000.0
...,...,...,...,...
Cash Cash Equivalents And Short Term Investments,2927700000.0,2211800000.0,3908600000.0,3681300000.0
Other Short Term Investments,109100000.0,144800000.0,90100000.0,24200000.0
Cash And Cash Equivalents,2818600000.0,2067000000.0,3818500000.0,3657100000.0
Cash Equivalents,1088400000.0,657400000.0,2379500000.0,2097900000.0
Cash Financial,1730200000.0,1409600000.0,1439000000.0,1559200000.0

In [8]:
lly_balance_sheet.to_csv("../artifacts/lly/lly_balance_sheet.csv")

- Income statement

In [9]:
lly_income_stmt = lly.get_income_stmt(pretty=True)
lly_income_stmt.head()

,2023-12-31,2022-12-31,2021-12-31,2020-12-31
Tax Effect Of Unusual Items,-781427700.0,-129795400.0,-140848500.0,93035800.0
Tax Rate For Calcs,0.201,0.083,0.093,0.143
Normalized EBITDA,12455500000.0,10224300000.0,9557400000.0,8262800000.0
Total Unusual Items,-3887700000.0,-1563800000.0,-1514500000.0,650600000.0
Total Unusual Items Excluding Goodwill,-3887700000.0,-1563800000.0,-1514500000.0,650600000.0

In [10]:
lly_income_stmt.to_csv("../artifacts/lly/lly_income_stmt.csv")

- Cash Flow statement

In [11]:
lly_cashflow = lly.get_cashflow(pretty=True)
lly_cashflow.head()

,2023-12-31,2022-12-31,2021-12-31,2020-12-31
Free Cash Flow,-3152000000.0,4600400000.0,5387500000.0,4470500000.0
Repurchase Of Capital Stock,-750000000.0,-1500000000.0,-1250000000.0,-500000000.0
Repayment Of Debt,0.0,-1560000000.0,-1905400000.0,-276500000.0
Issuance Of Debt,3958500000.0,0.0,2410800000.0,2062300000.0
Capital Expenditure,-7392100000.0,-2985300000.0,-1978400000.0,-2029100000.0

In [12]:
lly_cashflow.to_csv("../artifacts/lly/lly_cashflow.csv")

Now that all data format is good for LLY, let's do the same for other firms.

In [13]:
import os
import pandas as pd
def get_firms_data(firms: list, start:str, end:str) -> None :
    
    for symbol in firms:
        filepath = f"../artifacts/{symbol.lower()}/"
        directory = os.path.dirname(filepath)
        if not os.path.exists(directory):
            os.makedirs(directory)

        ticker = yf.Ticker(symbol)

        # Saving data
        data = yf.download(symbol, start=start, end=end)
        data.to_csv(filepath+f"{symbol.lower()}_data.csv")
        print(f"  {symbol} data saved successfully !")

        # Saving cashflow
        cashflow = ticker.get_cashflow(pretty=True)
        cashflow.to_csv(filepath+f"{symbol.lower()}_cashflow.csv")
        print(f"  {symbol} cashflow saved successfully !")

        # Saving income statement
        income_stmt = ticker.get_income_stmt(pretty=True)
        income_stmt.to_csv(filepath+f"{symbol.lower()}_income_stmt.csv")
        print(f"  {symbol} income statement saved successfully !")

        # Saving balance sheet
        balance_sheet = ticker.get_balance_sheet(pretty=True)
        balance_sheet.to_csv(filepath+f"{symbol.lower()}_balance_sheet.csv")

        print(f"All {symbol} data saved successfully !")

In [14]:
get_firms_data(["LLY", "JNJ", "UNH", "MRK"], start="2020-01-31", end="2024-01-31")

[*********************100%%**********************]  1 of 1 completed

  LLY data saved successfully !
  LLY cashflow saved successfully !
  LLY income statement saved successfully !
All LLY data saved successfully !

[*********************100%%**********************]  1 of 1 completed

  JNJ data saved successfully !
  JNJ cashflow saved successfully !
  JNJ income statement saved successfully !
All JNJ data saved successfully !

[*********************100%%**********************]  1 of 1 completed

  UNH data saved successfully !
  UNH cashflow saved successfully !
  UNH income statement saved successfully !
All UNH data saved successfully !

[*********************100%%**********************]  1 of 1 completed

  MRK data saved successfully !
  MRK cashflow saved successfully !
  MRK income statement saved successfully !
All MRK data saved successfully !

**Our data extraction is now complete!**